<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatribe.scoreSystem.dao.ResultMapper">
    <resultMap id="resultSet" type="com.javatribe.scoreSystem.entity.Result">
        <result property="teamName" column="teamName"/>
        <result property="mark" column="mark"/>
    </resultMap>

    <!--    修改新的算分规则，去掉一个最大值和一个最小值，剩余的结果取平均分-->
    <select id="getResultSet" resultMap="resultSet">
        SELECT teamName, ((sum(marks) - max(marks) - min(marks)) / (count(marks) - 2)) as mark
        from team,
        score
        where team.id = teamId
        group by teamName
        order by mark desc;
    </select>

</mapper>